name: Auto Deploy Portfolio

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v1
        with:
          service-id: ${{ srv-d48r7524d50c738uvtb0 }}
          api-key: ${{ rnd_zHOoFQmVVboW5OCNVqhwYNjf7pvA }}

